/* #100906 -> #201e20 
#EFAC2A -> #ddc3a5
#B44399  ->#004b91
*/


.navbar-header{
    background-color: #201e20;
    font-weight: 600;
    /* position:sticky;
    top:0%; */
    z-index: 20;
}
li{
    text-align:center;
}


.donate-btn{
    /* position: relative;
    left:13rem; */
    font-size:large;
    border-radius: 100px;
    background-color: #ddc305;
    font-weight:700;  
}

form{
    text-align: center;
}


.donate-btn:hover{
    background-color: #201e20;
    color:white;
    border:1px solid #ddc305;
    transition:all ease-in 0.3s;
}
.navbar-collapse{
    font-size:large;
}
.nav-item{
  
 display:block;
 padding:7px 15px;
    font-size:large;
    /* border-bottom: 4px solid#100906; */
}
.nav-item{
    display:block;
}

/* .nav-item::after {
  content: '';
    display: block;
    width: 100px;
    height: 3px;
    background: #EFAC2A;
    transition: width .3s; 
     color:white;
    -webkit-transform: scaleX(0.0001);
  -ms-transform: scaleX(0.0001);
  transform: scaleX(0.0001);
  
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
}

.nav-item:hover::after {

   -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
} */

.nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #ddc305;
    transition: width .3s;
}

.nav-item:hover::after {
    width: 100%;
    transition: width .5s;
}

.navbar-toggler{
    border:none;

}